body {
    margin: 0
}

.sheet-outer {
    margin: 0;
}

.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}

@media screen {
    body {
        background: #e0e0e0
    }

    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
        margin: 5mm auto;
    }
}

.sheet-outer.A4 .sheet {
    width: 296mm;
    height: 210mm
}

.sheet.padding-5mm {
    padding: 5mm
}

.settings {
    margin: 0;
}

@page {
    size: A4;
    margin: 0;
    size: landscape;
}

@media print {
    .sheet-outer.A4,
    .sheet-outer.A4.landscape {
        width: 296mm
    }
    .settings {display: none;}
}

#name_list {
    height: 1cm;
    width: 14cm;
}